$primary = #92c020
$accent = #bbd37a
$secondary =#00a9ce
$body-background = #ffffff
$text-dark = #2c3e50
$text-light = #ffffff
$text-gray = #444
$text-lt-gray = #8899A9
$border-light = #eeeeee
$border-primary = #bbd37a
$cloud = #cae9f7
$button-primary = #92c020
$button-secondary = #00a9ce
$button-lt-gray = #e7efee
$button-gray = #bbb
$link-normal = #648414
$link-hover = #00a9ce